# Created by Vercel CLI
DATABASE_URL=
PGDATABASE=
PGHOST=
PGHOST_UNPOOLED=
PGPASSWORD=
PGUSER=
POSTGRES_DATABASE=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_PRISMA_URL=
POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_URL_NO_SSL=
VERCEL_OIDC_TOKEN=


## coze 生成问题相关
COZE_CLIENT_ID=
COZE_CLIENT_SECRET=
COZE_REDIRECT_URI=
COZE_WORKFLOW_ID=



## 生成试卷

NEXT_PUBLIC_GEN_EXAM_COZE_CLIENT_ID=
NEXT_PUBLIC_GEN_EXAM_REDIRECT_URI=
NEXT_PUBLIC_GEN_EXAM_WORKFLOW_ID=



## coze 判题工作流
COZE_CLIENT_ID_JWT=
COZE_PRIVATE_KEY_JWT=
COZE_PUBLIC_KEY_ID_JWT=
COZE_API_BASE_JWT=
COZE_WORKFLOW_ID_JWT=
COZE_WWW_BASE=



###coze客服机器人配置

KEFU_COZE_BOT_ID=

# JWT认证相关配置（服务端使用，用于API获取token）
KEFU_COZE_CLIENT_ID_JWT=
KEFU_COZE_PUBLIC_KEY_ID_JWT=
KEFU_COZE_API_BASE_JWT=
KEFU_COZE_PRIVATE_KEY_JWT=

## 管理员信息
ADMIN_EMAIL=
ADMIN_PASSWORD_RAW= 
ADMIN_HASHED_PASSWORD=
ADMIN_NAME= # 可选，用于显示